.container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    border: 15px solid #F5F5F5;
    background-color: #F5F5F5;
}

.background {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #D2D2D2;
    background-image: url(./img/background.png);
}

.logotipo {
    text-align: center;
}

.logotipo>img {
    width: 200px;
    height: auto;
}

.text-prezado-cliente {
    color: #0D8D97;
}

.textos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #858786;
}

.baixar-app {
    display: flex;
    margin: -10px 0 20px;
}

.baixar-app>.app-1 {
    margin-right: 10px;
}

button {
    margin: 0 0 30px;
    width: 180px;
    height: 45px;
    border-radius: 12px !important;
    font-weight: bold;
}

footer {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.background-footer {
    background-image: url(./img/footer.png);
    margin-top: -60px;
    width: 750px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

footer li {
    font-size: 30px;
    margin: 10px;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #D2D2D2;
    transition:all 0.3s ease;
    transform: scale(1.3);
}

footer>p {
    text-align: center;
    font-size: 1.2rem;
    margin: 30px;
    color: #fff;
}

footer .texto-copy {
    text-align: center;
    color: #fff;
}

.icons {
    margin-top: 80px;
    font-size: 20px;
}

.copy {
    font-size: 14px;
}